{% extends 'landing.html' %}

{% block title %}Reset Password{% endblock %}

{% block feed_change %}

    <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 70vh">
    <div class="card text-center" style="width: 18rem;">

    <div class="card-header" style="background-color: #c0e3d7">
    {% if not enter_password %}
        {% if not enter_otp %}
        <h3>Enter Email</h3>
        {% else %}
        <h3>Enter OTP</h3>
        {% endif %}
    {% else %}
    <h3>Enter Password</h3>
    {% endif %}
    </div>

    <div class="card-body">

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <p style="color: green; font-size: 14px;">{{ message }}</p>
                {% elif message.tags == 'error' %}
                    <p style="color: red; font-size: 14px;">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% if not enter_password %}
        {% if not enter_otp %}
        <form method="POST" action="{% url 'auth_app-sending-otp' %}">
        {% csrf_token %}
              <!-- OTP input -->
              <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" placeholder="Enter your email" name="email" required/>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-primary">Submit</button>
                    <ul></ul>

        </form>
        {% else %}
            <form method="POST" action="{% url 'auth_app-verify-otp' %}">
                {% csrf_token %}
                      <!-- OTP input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="form2Example1" class="form-control" placeholder="Enter your OTP" name="otp" required/>
                      </div>
                        <input type="hidden" value="{{ user_id }}" name="uid">

                      <!-- Submit button -->
                      <button type="submit" class="btn btn-outline-primary">Submit</button>
                            <ul></ul>

            </form>
        {% endif %}
    {% endif %}
    {% if enter_password %}
        <form method="POST" action="{% url 'auth_app-set-new-password' %}">
            {% csrf_token %}
                  <!-- OTP input -->
                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example1" class="form-control" placeholder="Enter a new password" name="password" minlength="10" required/>
                  </div>
                    <input type="hidden" value="{{ user_id }}" name="uid">

                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-primary">Submit</button>
                        <ul></ul>

        </form>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}